div#cp-subreddit-dropdown-container > div.dropdown {
  background-color: #1a1a1a;
  min-width: 35%;
}

div#cp-subreddit-dropdown-container
  > div.dropdown
  div#cp-dropdown-title-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div#cp-subreddit-dropdown-container
  > div.dropdown
  div#cp-dropdown-title-content
  > svg {
  margin-right: 0.3rem;
}

button#cp-subreddit-dropdown,
button#cp-subreddit-dropdown:active,
button#cp-subreddit-dropdown:hover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  color: #cccccc;
  width: 100%;
  font-family: Poppins;
  font-size: 1.1em;
  font-weight: 500;
  border: 1px solid #4d4d4d;
  padding-left: 0.3rem;
}

div#cp-subreddit-dropdown-container > div.dropdown ul,
div#cp-subreddit-dropdown-container > div.dropdown ul:active {
  background-color: #1a1a1a;
  width: 100%;
  top: 85%;
  border: 1px solid #4d4d4d;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

div#cp-subreddit-dropdown-container > div.dropdown ul a {
  color: #cccccc;
  display: flex;
  justify-content: flex-start;
  padding-left: 1.5rem;
  align-items: center;
}
div#cp-subreddit-dropdown-container > div.dropdown ul a:hover {
  color: black;
}

@media screen and (max-width: 800px) {
  div#cp-subreddit-dropdown-container
    > div.dropdown
    div#cp-dropdown-title-content {
    margin-right: 1rem;
  }
}
