div.up-sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.up-sidebar-content > div.up-information-sidebar {
  background-color: #1a1a1a;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

div.up-sidebar-content > div.up-information-sidebar > div#top-color {
  background-color: #212529;
  min-height: 7.5rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
div.up-sidebar-content > div.up-information-sidebar > div#up-info-contents {
  display: flex;
  flex-direction: column;
  color: #e8e8e8;
  margin: 1rem;
  font-family: Poppins;
}
div.up-information-sidebar > div#up-info-contents > h2 {
  font-size: 1.2em;
  margin-bottom: 0.8rem;
}
div.up-information-sidebar > div#up-info-contents > a,
div.up-information-sidebar > div#up-info-contents > a:hover {
  font-size: 0.85em;
}
div.up-information-sidebar > div#up-info-contents > a:hover {
  cursor: pointer;
  color: #cccccc;
  text-decoration: none;
}

div.up-information-sidebar > div#up-info-contents > div#up-karma-cakeday {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
div.up-information-sidebar > div#up-info-contents > div#up-karma-cakeday p {
  margin: 0;
  display: flex;
  align-items: center;
}
div.up-information-sidebar
  > div#up-info-contents
  > div#up-karma-cakeday
  p:last-child {
  color: #cccccc;
  font-size: 0.8em;
}
div#up-info-contents > div#up-karma-cakeday > div#up-karma {
  margin-right: 30%;
}
div#up-info-contents > div#up-karma-cakeday #up-info-icon {
  color: #4d4d4d;
  margin-right: 0.2rem;
}

@media screen and (max-width: 1000px) {
  div#up-info-contents > div#up-karma-cakeday > div#up-karma {
    margin-right: 20%;
  }
}
