div#full-user-auth-dropdown-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

div#full-user-auth-dropdown-container > div.unauthenticated-user-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 content;
  align-items: center;
}

div#full-user-auth-dropdown-container
  > div.authenticated-user-dropdown-container {
  display: flex;
  justify-content: space-around;
  flex: 1 1 auto;
  align-items: center;
}
div.authenticated-user-dropdown-container > div.dropdown {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

div.authenticated-user-dropdown-container
  > div.dropdown
  > button#user-nav-dropdown,
div.authenticated-user-dropdown-container
  > div.dropdown
  > button#user-nav-dropdown:active,
div.authenticated-user-dropdown-container
  > div.dropdown
  > button#user-nav-dropdown:focus,
div.authenticated-user-dropdown-container
  > div.dropdown
  > button#user-nav-dropdown:hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  color: #cccccc;
  border: 1px solid #4d4d4d;
  font-family: Poppins;
  font-weight: 700;
}

div.authenticated-user-dropdown-container > div.dropdown > ul {
  background-color: #1a1a1a;
  width: inherit;
  top: 80%;
  padding-top: 1rem;
  border: 1px solid #cccccc;
  border-top-color: transparent;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
div.authenticated-user-dropdown-container > div.dropdown > ul a {
  color: #cccccc;
  display: flex;
  justify-content: flex-start;
  padding-left: 0.5rem;
  align-items: center;
}
div.authenticated-user-dropdown-container > div.dropdown > ul a:hover {
  color: inherit;
  text-decoration: none;
}
div.authenticated-user-dropdown-container > div.dropdown > ul a > svg {
  margin-right: 1rem;
}

#user-nav-dropdown {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  #navbar-base > div#user-auth-dropdown-container {
    margin: 0;
    margin-right: 0.4rem;
  }
}

@media (max-width: 640px) {
  div#full-user-auth-dropdown-container {
    display: none;
  }
}
