div.sidebar-content {
  text-align: center;
  background: #1a1a1a;
  font-size: 2rem;
  color: #e8e8e8;
  border-radius: 2px;
  padding-top: 1rem;
  font-family: "Poppins";
  font-weight: 500;
  padding-bottom: 2rem;
}

div.sidebar-content > p.sidebar-header {
  text-align: left;
  padding-left: 1.5rem;
  font-size: 0.55em;
  color: #818384;
}

div.sidebar-content > div.title {
  text-align: left;
  padding-left: 2rem;
}

div.sidebar-content > div.title > h2 {
  font-size: 0.85em;
}

div.description {
  margin-top: 2rem;
  margin-right: 0.5rem !important;
  font-size: 0.75em;
  text-align: left;
  padding-left: 1.5rem;
}

div.sidebar-content > div.sidebar-button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
div.sidebar-content > div.sidebar-button-container > button#create-post-button {
  margin: 0.5rem 0.4rem;
}
