body {

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.whole-page {
  margin-top: 5rem;
  height: calc(100% - 5.3rem);
}

div.main-layout {
  margin: 0 auto;
  height: 100%;
}
